<style>

P{
    text-align: center;
    font-size: 30pt; 
    font-style: oblique;
    margin-bottom: -120px;
    background-color: rgba(255, 255, 255, 0.1);
}

h1{
    font-family: 'FonteLogo', sans-serif;
    text-align: center;
    color: #888888;
    font-size: 15px;
    margin-bottom: -5px;
}
ul#fotos-burguers {
    display: block;
    position: relative;
    margin-left: -50px;
    margin-bottom: 100px;
    margin-top: 150px;
    width: 1200px;
    height: 410px;
    list-style: none;
    background-color: white;
}

ul#fotos-burguers li{
    float: left;
    width: 280px;
    height: 400px;
    margin: 0px;
    border: 5px solid white;
    background-color: white;
    box-shadow: 3px rgba(0,0,0,.4);
    -webkit-transition: all 0.3s ease-in;
}

ul#fotos-burguers li span{
    opacity: 0;
    color: white;
    height: 200px;
    background-color: rgba(0, 0, 0,0.3);
    font-size: 30pt;
    padding: 5px;
}

ul#fotos-burguers li:hover span{
    opacity: 1;
}

ul#fotos-burguers li:hover{
    -webkit-transform: scale(1.5, 1.3);
}

ul#fotos-batatas {
    display: block;
    position: relative;
    margin-left: -50px;
    margin-bottom: 100px;
    margin-top: 150px;
    width: 1200px;
    height: 410px;
    list-style: none;
    background-color: white;
}

ul#fotos-batatas li{
    float: left;
    width: 280px;
    height: 400px;
    margin: 0px;
    border: 5px solid white;
    background-color: white;
    box-shadow: 3px rgba(0,0,0,.4);
    -webkit-transition: all 0.3s ease-in;
}

section#secBatatas{
    margin: 0px 0px 0px 150px ;
}


ul#fotos-batatas li span{
    opacity: 0;
    color: white;
    height: 200px;
    background-color: rgba(0, 0, 0,0.3);
    font-size: 30pt;
    padding: 5px;
}

ul#fotos-batatas li:hover span{
    opacity: 1;
}

ul#fotos-batatas li:hover{
    -webkit-transform: scale(1.5, 1.3);
}

ul#fotos-onionRings {
    display: block;
    position: relative;
    margin-left: -50px;
    margin-bottom: 100px;
    margin-top: 150px;
    width: 1200px;
    height: 410px;
    list-style: none;
    background-color: white;
}

ul#fotos-onionRings li{
    float: left;
    width: 280px;
    height: 400px;
    margin: 0px 0px 0px 430px;
    border: 5px solid white;
    background-color: white;
    box-shadow: 3px rgba(0,0,0,.4);
    -webkit-transition: all 0.3s ease-in;
}

ul#fotos-onionRings li span{
    opacity: 0;
    color: white;
    height: 200px;
    background-color: rgba(0, 0, 0,0.3);
    font-size: 30pt;
    padding: 5px;
}

ul#fotos-onionRings li:hover span{
    opacity: 1;
}

ul#fotos-onionRings li:hover{
    -webkit-transform: scale(1.5, 1.3);
}

ul#fotos-bebidas {
    display: block;
    position: relative;
    margin-left: -50px;
    margin-bottom: 100px;
    margin-top: 150px;
    width: 1200px;
    height: 410px;
    list-style: none;
    background-color: white;
}

ul#fotos-bebidas li{
    float: left;
    width: 280px;
    height: 400px;
    margin: 0px;
    border: 5px solid white;
    background-color: white;
    box-shadow: 3px rgba(0,0,0,.4);
    -webkit-transition: all 0.3s ease-in;
}

ul#fotos-bebidas li span{
    opacity: 0;
    color: white;
    height: 200px;
    background-color: rgba(0, 0, 0,0.3);
    font-size: 30pt;
    padding: 5px;
}

ul#fotos-bebidas li:hover span{
    opacity: 1;
}

ul#fotos-bebidas li:hover{
    -webkit-transform: scale(1.5, 1.3);
}

ul#fotos-burguers li#foto01 {
    background: url('/imagens/kidsBurguer.jpeg') no-repeat;
    background-position: 50% 50%; 
    background-size: 400px 400px;
    background-color: white;
}

ul#fotos-burguers li#foto01:hover {
    background-position: 50% 50%; 
    background-position: 0px;
    background-size: 350px 400px;
    background-position-x: center;
}


ul#fotos-burguers li#foto02 {
    background: url('/imagens/daCasaBurguer.jpg') no-repeat;
    background-position: 50% 50%; 
    background-size: 400px 400px;
    background-color: white;
}

ul#fotos-burguers li#foto02:hover {
    background-position: 50% 50%; 
    background-position: 0px;
    background-size: 350px 400px;
    background-position-x: center;
}

ul#fotos-burguers li#foto03 {
    background: url('/imagens/duploCheddarBurguer.jpg') no-repeat;
    background-position: 50% 50%; 
    background-size: 400px 400px;
    background-color: white;
}

ul#fotos-burguers li#foto03:hover {
    background-position: 50% 50%; 
    background-position: 0px;
    background-size: 350px 400px;
    background-position-x: center;
}

ul#fotos-burguers li#foto04 {
    background: url('/imagens/vegetarianoBurguer.jpg') no-repeat;
    background-position: 50% 50%; 
    background-size: 400px 400px;
    background-color: white;
}

ul#fotos-burguers li#foto04:hover {
    background-position: 50% 50%; 
    background-position: 0px;
    background-size: 350px 400px;
    background-position-x: center;
}



ul#fotos-batatas li#foto01 {
    background: url('/imagens/batataRustica.jpg') no-repeat;
    background-position: 50% 50%; 
    background-size: 400px 400px;
    background-color: white;
}

ul#fotos-batatas li#foto01:hover {
    background-position: 50% 50%; 
    background-position: 0px;
    background-size: 350px 400px;
    background-position-x: center;
}


ul#fotos-batatas li#foto02 {
    background: url('/imagens/fritas.jpg') no-repeat;
    background-position: 50% 50%; 
    background-size: 400px 400px;
    background-color: white;
}

ul#fotos-batatas li#foto02:hover {
    background-position: 50% 50%; 
    background-position: 0px;
    background-size: 350px 400px;
    background-position-x: center;
}

ul#fotos-batatas li#foto03 {
    background: url('/imagens/crinkle.jpg') no-repeat;
    background-position: 50% 50%; 
    background-size: 400px 400px;
    background-color: white;
}

ul#fotos-batatas li#foto03:hover {
    background-position: 50% 50%; 
    background-position: 0px;
    background-size: 350px 400px;
    background-position-x: center;
}

ul#fotos-onionRings li#foto01 {
    background: url('/imagens/onions.jpg') no-repeat;
    background-position: 50% 50%; 
    background-size: 400px 400px;
    background-color: white;
}

ul#fotos-onionRings li#foto01:hover {
    background-position: 50% 50%; 
    background-position: 0px;
    background-size: 350px 400px;
    background-position-x: center;
}

ul#fotos-bebidas li#foto01 {
    background: url('/imagens/cocaLata.png') no-repeat;
    background-position: 50% 50%; 
    background-size: 400px 400px;
    background-color: white;
}

ul#fotos-bebidas li#foto01:hover {
    background-position: 50% 50%; 
    background-position: 0px;
    background-size: 350px 400px;
    background-position-x: center;
}


ul#fotos-bebidas li#foto02 {
    background: url('/imagens/tonica.jpg') no-repeat;
    background-position: 50% 50%; 
    background-size: 400px 400px;
    background-color: white;
}

ul#fotos-bebidas li#foto02:hover {
    background-position: 50% 50%; 
    background-position: 0px;
    background-size: 350px 400px;
    background-position-x: center;
}

ul#fotos-bebidas li#foto03 {
    background: url('/imagens/aguaMineral.jpg') no-repeat;
    background-position: 50% 50%; 
    background-size: 400px 400px;
    background-color: white;
}

ul#fotos-bebidas li#foto03:hover {
    background-position: 50% 50%; 
    background-position: 0px;
    background-size: 350px 400px;
    background-position-x: center;
}

ul#fotos-bebidas li#foto04 {
    background: url('/imagens/patricia.jpg') no-repeat;
    background-position: 50% 50%; 
    background-size: 400px 400px;
    background-color: white;
}

ul#fotos-bebidas li#foto04:hover {
    background-position: 50% 50%; 
    background-position: 0px;
    background-size: 350px 400px;
    background-position-x: center;
}
</style>

<body>

<p><b>HAMBÚRGUERS</b></p>

    <ul id="fotos-burguers">
        <li id="foto01"><span>Kids: R$ 19,00</span></li>
        <li id="foto02"><span>Da casa: R$ 20,00</span></li>
        <li id="foto03"><span>Duplo cheddar: R$ 22,00</span></li>
        <li id="foto04"><span>Vegetariano: R$ 20,00"</span></li>
    </ul>

        <p><b>BATATAS</b></p>

    <ul id="fotos-batatas">
    <section id="secBatatas">
        <li id="foto01"><span>Rústica: R$ 6,00</span></li>
        <li id="foto02"><span>Frita: R$ 12,00</span></li>
        <li id="foto03"><span>Crinkle: R$ 20,00</span></li>
    </section>
    </ul>    

        <p><b>ONION RINGS</b></p>

    <ul id="fotos-onionRings">
        <li id="foto01"><span>Onion rings: R$ 12,00 </span></li>
    </ul>   

        <p><b>BEBIDAS</b></p>

    <ul id="fotos-bebidas">
        <li id="foto01"><span>Coca-cola (350ml): R$ 7,00</span></li>
        <li id="foto02"><span>Tônica (350ml): R$ 6,00</span></li>
        <li id="foto03"><span>Água mineral (s/ gás): R$ 6,00</span></li>
        <li id="foto04"><span>Cerveja Patricia (litro): R$ 22,00</span></li>
    </ul>   

</body>